{{ define "title" }}Home Page{{ end }}


{{ define "script" }}

<script src="/scripts/broll_upload.js"></script>
{{ end }}


{{ define "content" }}
<form id="broll-meta-form">
    <div class="input-group">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" required placeholder="Title">
    </div>
    <div class="input-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" placeholder="Description"></textarea>
    </div>
    <button type="submit" class="btn">Create Broll</button>
</form>

<form id="broll-upload-form" style="display: none;">
    <div class="input-group">
        <label for="video-file">File: </label>
        <input type="file" id="broll-file" name="broll" required>
    </div>
    <button type="submit" class="btn">Upload Broll</button>
</form>

{{ end }}
